{% extends 'base.html.twig' %}

{% block body %}
    <table border="1">
        <tr>

                <th>Name</th>
                <th>Birth Date</th>
                <th>Young drivers?</th>

        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer}}</td>
            <td> {{ (customer.isYoungDriver ==0) ? 'no' : 'yes' }}</td>
            {#<td>{{ customer.isYoungDriver}}</td>#}
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}

