{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome to CarsDB exercise for PHP WEB 2018 in <a href="https://softuni.bg" target="_blank">SoftUni</a> </h1>

{% endblock %}

{% block stylesheets %}

{% endblock %}
