{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-vertical" enctype="multipart/form-data" action="{{ path('car_add') }}" method="POST">
                <fieldset>
                    <legend>Add new Car</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="car_make">Car make</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="car_make" placeholder="Car make"
                                   name="car[make]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="car_model">Car model</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="car_model" placeholder="Car model"
                                   name="car[model]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="car_travelledDistance">Travelled distance</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="car_travelledDistance" placeholder="Travelled distance"
                                   name="car[travelledDistance]">
                        </div>
                    </div>


                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('car_add') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

