{% extends 'base.html.twig' %}

{% block body %}

    <table border="1">
        <th>make</th>
        <th>model</th>
        <th>travelled distance</th>

        {% for orderMake in orderMakes %}

            <tr>
                <td>{{ orderMake.make }}</td>
                <td>{{ orderMake.model}}</td>
                <td>{{ orderMake.travelledDistance}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

