{% extends 'base.html.twig' %}

{% block body %}

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Bought Cars</th>
            <th>Total Spent Money</th>
        </tr>
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.id}}</td>
            <td>{{customer.id}}</td>
            {#<td>{{sales.sum}}</td>#}

        </tr>
    </table>
{% endblock %}