{% extends 'base.html.twig' %}

{% block body %}

    <table border="1">
        <th>id</th>
        <th>name</th>
        <th>number of parts</th>

        {% for orderedSupplier in orderedSuppliers %}

            <tr>
                <td>{{ orderedSupplier.id }}</td>
                <td>{{ orderedSupplier.name}}</td>
                <td>{{ orderedSupplier.number}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

